<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a>
      <%= link_to "Blog-App", root_path, class: "navbar-item is-capitalized has-text-weight-semibold" %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Dashboard", posts_path, class: "navbar-item"%>
      <%= link_to "New Articles", new_post_path, class: "navbar-item"%>
      <%= link_to "Preference", edit_user_registration_path, class: "navbar-item"%>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <li class="button is-primary active"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <li class="button is-primary active"><%= link_to "Preference", edit_user_registration_path%></li>
          <% else %>
            <li class="button is-primary active"><%= link_to "Sign up", new_user_registration_path %></li>
            <li class="button is-light active"><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>